<header class="main-header">
  <nav>
    <ul class="menu">
      <li *ngFor="let item of menu">
        <a [routerLink]="item.path" routerLinkActive="active" [title]="item.label">

          <span *ngIf="!item.icon">{{ item.label }}</span>

          <svg *ngIf="item.icon === 'home'" 
               xmlns="http://www.w3.org/2000/svg" 
               viewBox="0 0 24 24" 
               width="24" height="24" 
               fill="currentColor" 
               aria-hidden="true">
            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5z"/>
          </svg>

        </a>
      </li>
    </ul>
  </nav>
</header>